{% extends 'base.html.twig' %}
{% block body %}
    <p>cześć</p>
    <h1>{{ name }}</h1>
    <h2> Twój szczesliwy numer to: {{number}}</h2>
    {% for name in add_names %}
        <p>Pozdrowania od {{ name }}</p>
    {%else%}
    <p>Nikt nie pozdrawia</p>
    {%endfor%}

    {% if show is defined %}
        <h2>Jest ok </h2>
    {% endif %}
{% endblock %}
